.header {
  margin-bottom: 8px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 262px;
}

.reset-button {
  margin-left: 16px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  float: right;
  cursor: pointer;
  transition: ease-in-out 1s;
}

.reset-button:hover {
  background-color: black;
}
